<div class="container">
    <div class="row">
        <div class="col-md-4 ">
            <div class="form-group">
                <label>A:</label>
                <input type="number" ng-model="vm.a" class="form-control">
                <label>B:</label>
                <input type="number" ng-model="vm.b" class="form-control">
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="form-group">
                <label>C:</label>
                <input type="number" ng-model="vm.c" class="form-control">
                <label>D:</label>
                <input type="number" ng-model="vm.d" class="form-control">
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="form-group">
                <label>E:</label>
                <input type="number" ng-model="vm.e" class="form-control">
                <label>F:</label>
                <input type="number" ng-model="vm.f" class="form-control">
            </div>
        </div>
    </div>
    <button class="btn btn-primary" ng-click="vm.submit()">Submit</button>

</div>